*{
    box-sizing: border-box;
}

body{
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    display: flex;
    width: 100%;
    justify-content: center;
}


#verification_popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 5;
  }
  
.popup_inside_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .1rem;
    width: 600px;
    height: 500px;
}

.popup_inside_container h2{
    text-align: center;
    font-size: 2rem;
    color: #000;
}

.popup_inside_container p{
    text-align: center;
    font-size: 1.2rem;
    color: #b4b4b4;
}

.popup_inside_container h3{
    text-align: center;
    font-size: 1.5rem;
    color: #000;
    margin: 0;
  }

a{
    margin-top: 3rem;
}

button{
    background-color: rgba(39,174,96,1);
    border: none;
    color: #fff;
    width: 15rem;
    height: 3rem;
    font-size: 1rem;
}

  #verification_popup-container button {
    margin-top: 10px;
  }
  
  #verification_popup-container .verification-inputs {
    display: flex;
    gap: 10px;
  }
  
  #verification_popup-container input {
    width: 4rem;
    height: 5rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 15%;
    border: 2px solid rgba(39,174,96,1);
  }

  #under_adult_popup_container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

.under_popup_inside_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.1em;
    width: 600px;
    height: 500px;
}

#under_adult_popup-container button {
    margin-top: 10px;
  }
  
a {
    margin-top: 3rem;
}

.under_popup_inside_container p{
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.div-4 {
    width: 90%;
    height: 4rem;
    background-color: rgba(255,255,255,1);
    position: fixed;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .div-5 {
    margin-top: 1rem;
    display: flex;
    margin-left: 50px;
    font-size: 1.4rem;
    text-decoration: none;
    color: #000;
  }

.content{
    margin-top: 5rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: start;
    gap: 10rem;
}

.left_side_container{
    display: flex;
    flex-direction: column;
    align-content: start;
    align-items: flex-start;
    background-color: rgba(39,174,96,1);
    padding: 1rem 7rem 1rem 3rem;
    color: white;
    border-radius: 3%;
}

.academic_credit_info_1{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: start;
    gap: 10rem;
}

.academic_credit_info_1 div h4{
    font-size: 1.5rem;
    margin: 0;
}

.academic_credit_info_2{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: start;
    gap: 6rem;
}

.academic_credit_info_2 div h4{
    font-size: 1.5rem;
    margin: 0;
}

.academic_credit_info_1 div p,
.academic_credit_info_2 div p{
    font-size: 1.5rem;
}

.overpay p{
    margin-top: 3rem;
}

.left_side_container img{
    margin-top: 3rem;
}

.right_side_container {
    display: flex;
    flex-direction: column;
    align-content: start;
    align-items: flex-start;
    color: #000;
}

.right_side_container h2{
    color: rgba(39,174,96,1);
    font-size: 2rem;
}

.phone_input, 
.inn_input, 
.password_input,
.repassword_input{
    width: 30rem;
    height: 3rem;
    border: none;
    background-color: #F6F4F4;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
}

.phone_input{
    background-image: url('../views/images/telephone\ 1.png');
}

.inn_input{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-image: url('../views/images/id\ 1.png');
}

.password_input{
    background-image: url('../views/images/padlock\ 1.png'); 
}

.repassword_input{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-image: url('../views/images/padlock\ 1.png'); 
}

label{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.checkbox1{
    background-color: #f0f0f0;
    border-radius: 3%;
    border: 2px solid #ccc;
    width: 2rem;
    height: 20px;
    cursor: pointer;
}

label p{
    font-size: 1rem;
}

.checkbox1:checked{
    background-color: #3498db;
    border-color: #3498db;
}

.right_side_container button{
    border: none;
    color: #fff;
    width: 30rem;
    height: 3rem;
    font-size: 1rem;
}