<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bank_decision.css">
    <title>Потверждение личности</title>
</head>
<body>
    <div class="container">
        <div class="div-4">
            <a href="../views/main_page.html" class="div-5">Главная</a>
            <a href="" class="div-5">Кредиты</a>
            <a href="" class="div-5">Бюджет</a>
            <a href="" class="div-5">Платежи</a>
            <a href="" class="div-5">Виртуальный помощник</a>
        </div>
        <div class="content">
            <div class="left_side_container">
                <h1>Онлайн-заявка на выдачу <br> академического кредита</h1>
                <div class="credit_data">
                    <img src="../views/images/checked_checkbox.png" alt="">
                    <h2>Данные о кредите</h2>
                </div>
                <div class="identity_proof">
                    <img src="../views/images/checked_checkbox.png" alt="">
                    <h2>Потверждение <br> личности</h2>
                </div>
                <div class="documents">
                    <img src="../views/images/checked_checkbox.png" alt="">
                    <h2>Документы</h2>
                </div>
                <div class="credit_available">
                    <img src="../views/images/checked_checkbox.png" alt="">
                    <h2>Кредитоспособность</h2>
                </div>
                <div class="bank_decision">
                    <img src="../views/images/unchecked_checkbox.png" alt="">
                    <h2>Решение банка</h2>
                </div>
                <div class="signings_documents">
                    <img src="../views/images/unchecked_checkbox.png" alt="">
                    <h2>Подписание документов</h2>
                </div>
                <div class="completion">
                    <img src="../views/images/unchecked_checkbox.png" alt="">
                    <h2>Завершение</h2>
                </div>
            </div>
            <div class="right_side_container">
                <p>Дорогой клиент</p>
                <p>Поздравляем! Ваша заявка на кредит успешно одобрена. Мы <br> готовы предоставить вам финансовую поддержку для реализации <br> ваших планов.
                </p>
                <p>Сумма кредита, процентная ставка и другие условия были <br> согласованы. Мы ценим ваш выбор нас, и наша команда готова <br> ответить на любые вопросы, которые у вас могут возникнуть.
                </p>
                <p>С нетерпением ждем с вами долгосрочного и взаимовыгодного <br> сотрудничества.
                </p>
                <p>С уважением, BCC.kz
                </p>
                <button>Подписать документы</button>
            </div>
        </div>
    </div>
    <script>
    </script>
</body>
</html>