* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.div {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-2 {
  display: flex;
  margin-top: 38px;
  width: 100%;
  max-width: 1658px;
  flex-direction: column;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
  }
}
.div-3 {
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 1432px;
  align-items: end;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-4 {
  display: flex;
  margin-top: 25px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-4 {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.div-5 {
  color: #000;
  align-self: start;
  font: 400 25px/34px Manrope, sans-serif;
}
.div-6 {
  color: #000;
  font: 400 25px/34px Manrope, sans-serif;
}
.div-7 {
  align-self: stretch;
  display: flex;
  flex-basis: 0%;
  flex-direction: column;
}
.div-8 {
  color: #000;
  white-space: nowrap;
  font: 400 25px/34px Manrope, sans-serif;
}
@media (max-width: 991px) {
  .div-8 {
    white-space: initial;
  }
}
.img {
  aspect-ratio: 31.33;
  object-fit: contain;
  object-position: center;
  width: 94px;
  stroke-width: 3px;
  stroke: #27ae60;
  overflow: hidden;
  align-self: center;
  margin-top: 15px;
}
.div-9 {
  color: #000;
  font: 400 25px/34px Manrope, sans-serif;
}
.div-10 {
  color: #000;
  align-self: start;
  white-space: nowrap;
  font: 400 25px/34px Manrope, sans-serif;
}
@media (max-width: 991px) {
  .div-10 {
    white-space: initial;
  }
}
.img-2 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 50px;
  overflow: hidden;
  align-self: start;
  max-width: 100%;
}
.div-11 {
  color: #27ae60;
  align-self: stretch;
  margin: 69px -20px 0 104px;
  font: 700 36px/55px Manrope, sans-serif;
}
@media (max-width: 991px) {
  .div-11 {
    max-width: 100%;
    font-size: 40px;
    line-height: 49px;
    margin-top: 40px;
  }
}
.div-12 {
  align-self: start;
  display: flex;
  margin-top: 84px;
  width: 959px;
  max-width: 100%;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-12 {
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.div-13 {
  color: #000;
  margin-top: -32px;
  margin-left: 104px;
  flex-grow: 1;
  flex-basis: auto;
  font: 400 24px/41px Manrope, sans-serif;
}
.div-14 input {
  white-space: nowrap;
  background-color: #f2f2f2;
  margin-top: -48px;
  flex-grow: 1;
  align-items: center;
  border: none;
  outline: none;
  padding: 22px 30px;
  font: 400 24px/37px Proxima Nova, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-14 {
    white-space: initial;
  }
}
.div-15 {
  align-self: start;
  display: flex;
  margin-top: 36px;
  width: 959px;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-15 {
    flex-wrap: wrap;
  }
}
.div-16 {
  color: #000;
  flex-grow: 1;
  flex-basis: auto;
  margin: -24px 0 0 104px;
  font: 400 24px/41px Manrope, sans-serif;
}

@media (max-width: 991px) {
  .div-16 {
    max-width: 100%;
  }
}
.div-17 {
  background-color: #f2f2f2;
  align-self: stretch;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  padding: 18px 28px 18px 28px;
}
@media (max-width: 991px) {
  .div-17 {
    padding-left: 20px;
  }
}
.div-18 {
  color: #acacac;
  flex-grow: 1;
  flex-basis: auto;
  font: 400 24px/37px Proxima Nova, -apple-system, Roboto, Helvetica, sans-serif;
}
.img-3 {
  aspect-ratio: 1.18;
  object-fit: contain;
  object-position: center;
  width: 26px;
  fill: #27ae60;
  overflow: hidden;
  margin-top: 6px;
  max-width: 100%;
}
.div-19 {
  align-self: start;
  display: flex;
  margin-top: 44px;
  width: 962px;
  max-width: 100%;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-19 {
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.div-20 {
  color: #000;
  flex-grow: 1;
  flex-basis: auto;
  margin-top: -4px;
  margin-left: 104px;
  font: 400 24px/41px Manrope, sans-serif;
}
.div-21 {
  background-color: #000;
  align-self: end;
  margin-top: 60px;
  width: 400px;
  height: 3px;
}
@media (max-width: 991px) {
  .div-21 {
    margin-top: 40px;
  }
}

#stateDropdown {
  background-color: #f2f2f2;
  border: none;
  outline: none;
  font-size: 1.6rem;
  padding: 0 113px 0 0;
}
#sales {
  margin-top: 36px;
  margin-right: -340px;
  font-size: 1.6rem;
}

.div-22 {
  background-color: #27ae60;
  align-self: stretch;
  display: flex;
  margin-top: 168px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}
@media (max-width: 991px) {
  .div-22 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-23 {
  display: flex;
  margin-bottom: 25px;
  width: 100%;
  max-width: 1597px;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-23 {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.div-24 {
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 991px) {
  .div-24 {
    max-width: 100%;
  }
}
.div-25 {
  display: flex;
  width: 618px;
  max-width: 100%;
  align-items: start;
  justify-content: space-between;
  gap: 14px;
}
@media (max-width: 991px) {
  .div-25 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.div-26 {
  color: #fff;
  flex-grow: 1;
  flex-basis: auto;
  font: 700 50px/68px Manrope, sans-serif;
}
@media (max-width: 991px) {
  .div-26 {
    font-size: 40px;
    line-height: 60px;
  }
}
.img-4 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 50px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
.div-27 {
  color: #fff;
  align-self: center;
  white-space: nowrap;
  margin: auto 0;
  font: 700 30px/41px Manrope, sans-serif;
}
@media (max-width: 991px) {
  .div-27 {
    white-space: initial;
  }
}
.div-28 {
  align-self: end;
  display: flex;
  margin-top: 31px;
  width: 472px;
  max-width: 100%;
  flex-direction: column;
  align-items: start;
  padding: 0 1px 0 -1px;
}
.div-29 {
  display: flex;
  width: 154px;
  max-width: 100%;
  gap: 14px;
}
.img-5 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 50px;
  overflow: hidden;
  max-width: 100%;
}
.div-30 {
  color: #fff;
  align-self: center;
  white-space: nowrap;
  margin: auto 0;
  font: 700 30px/41px Manrope, sans-serif;
}
@media (max-width: 991px) {
  .div-30 {
    white-space: initial;
  }
}
.div-31 {
  align-self: stretch;
  display: flex;
  margin-top: 31px;
  justify-content: space-between;
  gap: 14px;
}
@media (max-width: 991px) {
  .div-31 {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.img-6 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 50px;
  overflow: hidden;
  max-width: 100%;
}
.div-32 {
  color: #fff;
  align-self: start;
  margin-top: 14px;
  flex-grow: 1;
  flex-basis: auto;
  font: 700 30px/41px Manrope, sans-serif;
}
.img-7 {
  aspect-ratio: 0.84;
  object-fit: contain;
  object-position: center;
  width: 26px;
  fill: #fff;
  overflow: hidden;
  align-self: start;
  margin-top: 13px;
  max-width: 100%;
}
.div-33 {
  color: #fff;
  margin-top: 16px;
  font: 700 30px/41px Manrope, sans-serif;
}
.div-34 {
  color: #fff;
  margin: auto 0;
  font: 700 30px/41px Manrope, sans-serif;
}
