<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="budget.css">
    <link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet" />
    <title>Budget Page</title>
</head>
<body>
    <div class="container">
        <div class="div-4">
            <a href="" class="div-5">кредиты</a>
            <a href="" class="div-5">долги</a>
            <a href="" class="div-5">бюджет</a>
            <a href="" class="div-5">платежи</a>
            <a href="" class="div-5">Виртуальный помощник</a>
        </div>
        
        <h1>Распределите свой бюджет <br> и расписание:</h1>
        <h2>Обязательные предметы:</h2>
        <p id="error"></p>
        <div class="required_subjects">
            <div class="first_req_subject">
                <h3>Advanced <br> Programming <br> Technologies</h3>
                <div class="checkbox_and_price">
                    <label>
                        <input type="checkbox" class="card-checkbox req_checbox" data-price="50000">
                      </label>
                    <h4>50.000T</h4>
                </div>
                <p>Код курса: CSS 503</p>
                <p>Преподователь: Нуржан Сагындык</p>
            </div>
            <div class="second_req_subject">
                <h3>Research <br> Tools and <br> Methods</h3>
                <div class="checkbox_and_price">
                    <label>
                        <input type="checkbox" class="card-checkbox req_checbox" data-price="48000">
                    </label>
                    <h4>48.000T</h4>
                </div>
                <p>Код курса: CSS 503</p>
                <p>Преподователь: Айбол Жаныбек</p>
            </div>
            <div class="third_req_subject">
                <h3>Psycology <br> of <br> Management</h3>
                <div class="checkbox_and_price">
                    <label>
                        <input type="checkbox" class="card-checkbox req_checbox" data-price="77000">
                    </label>
                    <h4>77.000T</h4>
                </div>
                <p>Код курса: CSS 503</p>
                <p>Преподователь: Мерей Мейрам</p>
            </div>
            <div class="forth_req_subject">
                <h3>Algorithms and <br> Competitive <br> Programming</h3>
                <div class="checkbox_and_price">
                    <label>
                        <input type="checkbox" class="card-checkbox req_checbox" data-price="23000">
                    </label>
                    <h4>23.000T</h4>
                </div>
                <p>Код курса: CSS 503</p>
                <p>Преподователь: Асем Амирхан</p>
            </div>
        </div>
        <h2>Остальные предметы</h2>
        <div class="other_subjects">
            <div class="another_subject">
                <h3>Advanced <br> Programming <br> Technologies</h3>
                <div class="checkbox_and_price">
                    <label>
                        <input type="checkbox" class="card-checkbox" data-price="50000">
                    </label>
                    <h4>50.000T</h4>
                </div>
                <p>Код курса: CSS 503</p>
                <p>Преподователь: Нуржан Сагындык</p>
            </div>
            <div class="another_subject">
                <h3>Research <br> Tools and <br> Methods</h3>
                <div class="checkbox_and_price">
                    <label>
                        <input type="checkbox" class="card-checkbox" data-price="48000">
                    </label>
                    <h4>48.000T</h4>
                </div>
                <p>Код курса: CSS 503</p>
                <p>Преподователь: Айбол Жаныбек</p>
            </div>
            <div class="another_subject">
                <h3>Psycology <br> of <br> Management</h3>
                <div class="checkbox_and_price">
                    <label>
                        <input type="checkbox" class="card-checkbox" data-price="77000">
                    </label>
                    <h4>77.000T</h4>
                </div>
                <p>Код курса: CSS 503</p>
                <p>Преподователь: Мерей Мейрам</p>
            </div>
            <div class="another_subject">
                <h3>Algorithms and <br> Competitive <br> Programming</h3>
                <div class="checkbox_and_price">
                    <label>
                        <input type="checkbox" class="card-checkbox" data-price="23000">
                    </label>
                    <h4>23.000T</h4>
                </div>
                <p>Код курса: CSS 503</p>
                <p>Преподователь: Асем Амирхан</p>
            </div>
            <div class="another_subject">
                <h3>Advanced <br> Programming <br> Technologies</h3>
                <div class="checkbox_and_price">
                    <label>
                        <input type="checkbox" class="card-checkbox" data-price="50000">
                    </label>
                    <h4>50.000T</h4>
                </div>
                <p>Код курса: CSS 503</p>
                <p>Преподователь: Нуржан Сагындык</p>
            </div>
            <div class="another_subject">
                <h3>Research <br> Tools and <br> Methods</h3>
                <div class="checkbox_and_price">
                    <label>
                        <input type="checkbox" class="card-checkbox" data-price="48000">
                    </label>
                    <h4>48.000T</h4>
                </div>
                <p>Код курса: CSS 503</p>
                <p>Преподователь: Айбол Жаныбек</p>
            </div>
            <div class="another_subject">
                <h3>Psycology <br> of <br> Management</h3>
                <div class="checkbox_and_price">
                    <label>
                        <input type="checkbox" class="card-checkbox" data-price="77000">
                    </label>
                    <h4>77.000T</h4>
                </div>
                <p>Код курса: CSS 503</p>
                <p>Преподователь: Мерей Мейрам</p>
            </div>
            <div class="another_subject">
                <h3>Algorithms and <br> Competitive <br> Programming</h3>
                <div class="checkbox_and_price">
                    <label>
                        <input type="checkbox" class="card-checkbox" data-price="23000">
                    </label>
                    <h4>23.000T</h4>
                </div>
                <p>Код курса: CSS 503</p>
                <p>Преподователь: Асем Амирхан</p>
            </div>
        </div>
        <div class="count_container">
            <div class="button_container">
                <button onclick="countTotal()" class="button_count" id="count_button">Посчитать</button>
                <button class="button_pay">Оплатить</button>
            </div>
            <h2>Сумма ваших предметов: <span id="totalPrice">000T</span></h2>
            <a href="#"><p>Оформить академический кредит</p></a>
        </div>
    </div>

    <script>
        
function countTotal() {
  // Get all checkboxes with class 'card-checkbox'
  var checkboxes = document.querySelectorAll('.card-checkbox');
  var reqCheckboxes = document.querySelectorAll('.req_checbox');

  // Initialize total price
  var reqCount = 0;
  var totalPrice = 0;

  // Loop through checkboxes and add the price of checked items
  checkboxes.forEach(function (checkbox) {
    if (checkbox.checked) {
      // Extract price from the data attribute
      var price = parseInt(checkbox.getAttribute('data-price'));
      totalPrice += price;
    }
  });

  reqCheckboxes.forEach(function (checkbox) {
    if (checkbox.checked) {
        reqCount++;
    }
  })

  if (reqCount >= 2){
    document.getElementById('totalPrice').textContent = totalPrice + 'T';
    document.getElementById('error').textContent = ''
  }else{
    document.getElementById('totalPrice').textContent = totalPrice + 'T';
    document.getElementById('error').textContent = 'Выберите не менее 2 обьязательных предметов'
  }

  // Display the total price
}



    </script>
</body>
</html>