<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="completing.css">
    <title>Потверждение личности</title>
</head>
<body>
    <div class="container">
        <div class="div-4">
            <a href="../views/main_page.html" class="div-5">Главная</a>
            <a href="" class="div-5">Кредиты</a>
            <a href="" class="div-5">Бюджет</a>
            <a href="" class="div-5">Платежи</a>
            <a href="" class="div-5">Виртуальный помощник</a>
        </div>
        <div class="content">
            <div class="left_side_container">
                <h1>Онлайн-заявка на выдачу <br> академического кредита</h1>
                <div class="credit_data">
                    <img src="../views/images/checked_checkbox.png" alt="">
                    <h2>Данные о кредите</h2>
                </div>
                <div class="identity_proof">
                    <img src="../views/images/checked_checkbox.png" alt="">
                    <h2>Потверждение <br> личности</h2>
                </div>
                <div class="documents">
                    <img src="../views/images/checked_checkbox.png" alt="">
                    <h2>Документы</h2>
                </div>
                <div class="credit_available">
                    <img src="../views/images/checked_checkbox.png" alt="">
                    <h2>Кредитоспособность</h2>
                </div>
                <div class="bank_decision">
                    <img src="../views/images/unchecked_checkbox.png" alt="">
                    <h2>Решение банка</h2>
                </div>
                <div class="signings_documents">
                    <img src="../views/images/unchecked_checkbox.png" alt="">
                    <h2>Подписание документов</h2>
                </div>
                <div class="completion">
                    <img src="../views/images/unchecked_checkbox.png" alt="">
                    <h2>Завершение</h2>
                </div>
            </div>
            <div class="right_side_container">
                <p>Уважаемый клиент, <br> С радостью сообщаем что ваша заявка на кредит успешно <br> одобрена! Ваши финансовые возможности сейчас станут еще <br> ближе, и мы готовы предоставить вам необходимые средства. <br>
                Ожидайте, что деньги скоро поступят на ваш счет BBC.kz. Мы <br> ценим ваш выбор в пользу нашего банка и гордимся тем, что <br> можем быть частью ваших финансовых успехов. <br>
                Спасибо за доверие. Мы всегда готовы помочь воплотить ваши <br> финансовые планы в жизнь.</p>
                <button>На главную</button>
            </div>
        </div>
    </div>
    <script>
    </script>
</body>
</html>