*{
    box-sizing: border-box;
}

body{
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: Manrope;
    display: flex;
    width: 100%;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.div-3 {
    /* align-self: end; */
    display: flex;
    margin-right: -20px;
    width: 1236px;
    margin-top: 4rem;
    max-width: 100%;
    align-items: end;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-3 {
      flex-wrap: wrap;
    }
  }

.div-4 {
    width: 90%;
    height: 4rem;
    background-color: rgba(255,255,255,1);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .div-5 {
    margin-top: 1rem;
    display: flex;
    margin-left: 50px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #000;
  }

  .div-5:hover {
    border-bottom: 2px solid #27ae60;
  }

.content{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: start;
    gap: 5rem;
}

.left_side_container{
    width: 30%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-content: start;
    align-items: flex-start;
    background-color: rgba(39,174,96,1);
    padding: 1rem 7rem 1rem 3rem;
    color: white;
}

.left_side_container div {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
    
.left_side_container img{
    width: 2rem;
    height: 2rem;
}

.right_side_container {
    display: flex;
    flex-direction: column;
    align-content: start;
    align-items: flex-start;
    color: #000;
}

.right_side_container p{
    color: #000;
    font-size: 1.3rem;
}

.right_side_container button{
    background-color: rgba(39,174,96,1);
    border: none;
    color: #fff;
    width: 30rem;
    height: 3rem;
    font-size: 1rem;
}
