*{
    box-sizing: border-box;
}

a{
    color: #000;
    text-decoration: none;
}

body{
    font-size: 14px;
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center; */
    font-family: 'Manrope';
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    width: 90%;
    margin-left: 5rem;
    flex-direction: column;
}

.div-3 {
    /* align-self: end; */
    display: flex;
    margin-right: -20px;
    width: 1236px;
    margin-top: 4rem;
    max-width: 100%;
    align-items: end;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-3 {
      flex-wrap: wrap;
    }
  }

.div-4 {
    width: 90%;
    height: 4rem;
    background-color: rgba(255,255,255,1);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .div-5 {
    margin-top: 1rem;
    display: flex;
    margin-left: 50px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #000;
  }

  .div-5:hover {
    border-bottom: 2px solid #27ae60;
  }

.container h1{
    margin-top: 5rem;
    font-family: Manrope;
    color: rgba(39,174,96,1);
}

.chatting_header{
    display: flex;
    flex-direction: row;
    gap: 15rem;
    font-size: 1.2rem;
}

.chatting_header h3{
    cursor: pointer;
}

.content{
    display: flex;
    flex-direction: column;
}



.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(39,174,96,1);
    /* gap: 0rem; */
    justify-content: center;
    color: #fff;
    gap: 25rem;
    padding-bottom: 2rem;
    margin-top: 1rem;
  }
  
  .footer a{
    color: #fff;
  }
  
  .left_side_container{
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
  
  .img_and_texts{
    display: flex;
    flex-direction: column;
    /* gap: rem; */
  }
  
  .img_and_texts div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    font-size: 1.2rem;
  }
  
  .img_and_texts img{
    width: 2rem;
    height: 2rem;
  }
  
  .right_side_container{
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    gap: 5rem;
  }
  
  .first_column_footer{
    display: flex;
    flex-direction: column;
    /* gap: 1.2rem; */
  }
  
  .second_column_footer{
    display: flex;
    flex-direction: column;
    /* gap: 1.2rem; */
  }


  .content{
    width: 60%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 10px -10px rgba(0, 0 , 0 , 1),
                0 -10px 10px -10px rgba(0, 0 , 0 , 1),
                10px 0 10px -10px rgba(0, 0 , 0 , 1),
                -10px 0 10px -10px rgba(0, 0 , 0 , 1);
    padding: 0 2rem;
    margin-bottom: 2rem;
  }

  .whatsapp, 
  .facebook_chat_bot, 
  .telegram_chat_bot, 
  .vk_chat_bot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

.img_and_text{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.img_and_text img{
  height: 2rem;
}

.next_icon {
  height: 1.5rem;
}


