* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.div {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-2 {
  display: flex;
  margin-top: 38px;
  width: 100%;
  max-width: 1662px;
  flex-direction: column;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
  }
}
.div-3 {
  /* align-self: end; */
  display: flex;
  margin-right: -20px;
  width: 1520px;
  margin-top: 4rem;
  max-width: 100%;
  align-items: end;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-3 {
    flex-wrap: wrap;
  }
}

.div-4 {
  z-index: 5;
  width: 100%;
  margin-top: 7rem;
  height: 4rem;
  background-color: rgba(255,255,255,1);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .div-4 {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.div-5 {
  margin-top: 1rem;
  display: flex;
  margin-left: 50px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
}

.div-5:hover {
  border-bottom: 2px solid #27ae60;
}

.div-6 {
  color: #000;
  align-self: center;
  margin: auto 0;
  font: 400 25px Manrope, sans-serif;
}
.div-7 {
  color: #000;
  font: 400 25px Manrope, sans-serif;
}
.div-8 {
  color: #000;
  align-self: center;
  white-space: nowrap;
  margin: auto 0;
  font: 400 25px Manrope, sans-serif;
}
@media (max-width: 991px) {
  .div-8 {
    white-space: initial;
  }
}

@media (max-width: 991px) {
  .img-2 {
    margin-left: 10px;
  }
}
.div-9 {
  color: #000;
  align-self: stretch;
  margin: 85px 0 0 84px;
  font: 700 32px Manrope, sans-serif;
}
@media (max-width: 991px) {
  .div-9 {
    max-width: 100%;
    font-size: 40px;
    margin-top: 40px;
  }
}
.div-10 {
  align-self: stretch;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  margin: 62px -20px 0 0;
}
@media (max-width: 991px) {
  .div-10 {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }
}
.div-11 {
  display: flex;
  margin-top: 14px;
  flex-basis: 0%;
  flex-direction: column;
}
.div-12 {
  margin: 0 0 0 84px;
  width: 200px;
  color: #000;
  font: 400 20px Manrope, sans-serif;
}
.div-13 {
  color: rgba(0, 0, 0, 0.4);
  white-space: nowrap;
  margin: 44px 0 0 84px;
  /* padding-top: 163px; */
  font: 400 20px Manrope, sans-serif;
}
@media (max-width: 991px) {
  .div-13 {
    white-space: initial;
    padding-top: 40px;
  }
}
.div-14 {
  border-radius: 50%;
  align-self: end;
  display: flex;
  margin-top: 130px;
  width: 43px;
  height: 43px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-14 {
    margin-top: 40px;
  }
}
.div-15 {
  align-self: stretch;
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-15 {
    max-width: 100%;
  }
}
.div-16 {
}
@media (max-width: 991px) {
  .div-16 {
    max-width: 100%;
  }
}
.div-17 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-17 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 42%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-18 {
  color: #000;
  border-radius: 20px;
  border: 3px solid #000;
  background-color: #fff;
  align-items: end;
  width: calc(100% + 1%);
  margin: -8px 0 0px -341px;
  padding: 20px 21px;
  font: 400 20px Manrope, sans-serif;
}
@media (max-width: 991px) {
  .div-18 {
    margin-top: 40px;
    padding-right: 2px;
  }
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 43%;
  margin-left: -160px;
  margin-top: -32px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-19 {
  display: flex;
  margin-top: 24px;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-19 {
    margin-top: 40px;
  }
}
.div-20 {
  color: #000;
  font: 700 20px Manrope, sans-serif;
}
.div-21 {
  color: #000;
  margin-top: 24px;
  font: 700 20px Manrope, sans-serif;
}
.div-22 {
  display: flex;
  margin-top: 26px;
  justify-content: space-between;
  gap: 7px;
}

.div-23 {
  display: flex;
  align-items: center;
}
.div-23 input {
  background-color: #d9d9d9;
  display: flex;
  width: 16px;
  height: 16px;
  flex-direction: column;
}

.div-23 label {
  font-size: 1rem;
  margin-left: 12px;
}
.div-24 {
  color: #000;
  align-self: start;
  margin-top: 6px;
  width: 253px;
  font: 400 25px Manrope, sans-serif;
}
.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 15%;
  margin-left: 20px;
  margin-top: 8px;
}
@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}
.div-25 {
  display: flex;
  margin-top: -16px;
  margin-left: -28px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-25 {
    margin-top: 40px;
  }
}
.div-26 {
  color: #000;
  font: 400 20px Manrope, sans-serif;
}
.div-27 {
  color: #000;
  margin-top: 24px;
  font: 400 20px Manrope, sans-serif;
}
@media (max-width: 991px) {
  .div-27 {
    margin-top: 40px;
  }
}
.div-28 {
  color: rgba(0, 0, 0, 0.4);
  align-self: start;
  white-space: nowrap;
  margin: 18px 0 0 -229px;
  font: 400 20px Manrope, sans-serif;
}
@media (max-width: 991px) {
  .div-28 {
    margin-left: 10px;
    white-space: initial;
  }
}
.div-29 {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .div-29 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-30 {
  color: #000;
  margin-top: 65px;
  margin-left: 84px;
  flex-grow: 1;
  flex-basis: auto;
  font: 700 28px Manrope, sans-serif;
}
@media (max-width: 991px) {
  .div-30 {
    margin-top: 40px;
  }
}
.div-31 {
  color: #fff;
    max-width: 560px;
    border-radius: 20px;
    margin: -78px 103px 0px;
    border: 3px solid #27ae60;
    background-color: #27ae60;
    align-self: start;
    flex-grow: 1;
    align-items: center;
    padding: 24px 160px 22px;
    font: 400 20px Manrope, sans-serif;
}
@media (max-width: 991px) {
  .div-31 {
    max-width: 100%;
  }
}
.div-32 {
  align-self: start;
  display: flex;
  margin-top: 36px;
  margin-left: 84px;
  width: 599px;
  max-width: 100%;
  justify-content: space-between;
  gap: 25px;
  height: 64px;
}
@media (max-width: 991px) {
  .div-32 {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }
}
.div-33 {
  color: #27ae60;
  white-space: nowrap;
  border-radius: 20px;
  border: 3px solid #27ae60;
  flex-grow: 1;
  align-items: center;
  padding: 12px 20px 12px 20px;
  font: 400 32px Manrope, sans-serif;
}
@media (max-width: 991px) {
  .div-33 {
    font-size: 40px;
    white-space: initial;
  }
}
.div-34 {
  color: #27ae60;
  white-space: nowrap;
  border-radius: 20px;
  border: 3px solid #27ae60;
  flex-grow: 1;
  align-items: center;
  padding: 12px 20px 12px 20px;
  font: 400 32px Manrope, sans-serif;
}
@media (max-width: 991px) {
  .div-34 {
    font-size: 40px;
    white-space: initial;
  }
}
.div-35 {
  color: #27ae60;
  white-space: nowrap;
  border-radius: 20px;
  border: 3px solid #27ae60;
  flex-grow: 1;
  align-items: center;
  padding: 12px 20px 12px 20px;
  font: 400 32px Manrope, sans-serif;
}
@media (max-width: 991px) {
  .div-35 {
    font-size: 40px;
    white-space: initial;
  }
}
.div-36 {
  color: #27ae60;
  white-space: nowrap;
  border-radius: 20px;
  border: 3px solid #27ae60;
  flex-grow: 1;
  align-items: center;
  padding: 12px 20px 12px 20px;
  font: 400 32px Manrope, sans-serif;
}
@media (max-width: 991px) {
  .div-36 {
    font-size: 40px;
    white-space: initial;
  }
}
.div-37 {
  color: #27ae60;
  white-space: nowrap;
  border-radius: 20px;
  border: 3px solid #27ae60;
  flex-grow: 1;
  align-items: center;
  padding: 12px 20px 12px 20px;
  font: 400 32px Manrope, sans-serif;
}
@media (max-width: 991px) {
  .div-37 {
    font-size: 40px;
    white-space: initial;
  }
}
.div-38 {
  color: #27ae60;
  white-space: nowrap;
  border-radius: 20px;
  border: 3px solid #27ae60;
  flex-grow: 1;
  align-items: center;
  padding: 12px 20px 12px 20px;
  font: 400 32px Manrope, sans-serif;
}
@media (max-width: 991px) {
  .div-38 {
    font-size: 40px;
    white-space: initial;
  }
}
.footer{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgba(39,174,96,1);
  /* gap: 0rem; */
  justify-content: center;
  color: #fff;
  gap: 25rem;
  padding: 1rem 0;
}

.footer a{
  color: #fff;
}

.left_side_container{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.img_and_texts{
  display: flex;
  flex-direction: column;
  /* gap: rem; */
}

.img_and_texts div{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
}

.img_and_texts img{
  width: 2rem;
  height: 2rem;
}

.right_side_container{
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  gap: 5rem;
}

.first_column_footer{
  display: flex;
  flex-direction: column;
  /* gap: 1.2rem; */
}


.second_column_footer{
  display: flex;
  flex-direction: column;
  /* gap: 1.2rem; */
}

.volume-control {
  display: flex;
  align-items: center;
  width: 600px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 474px;
  height: 2px;
  background: #000;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: 52px 0 0 84px;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #4caf50;
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #4caf50;
  cursor: pointer;
}
