<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="credits.css" />
    <title>Credits</title>
  </head>
  <body>
    <div class="div">
      <div class="div-3">
        <div class="div-4">
          <a href="../views/main_page.html" class="div-5">Главная</a>
          <a style="border-bottom: 2px solid #27ae60;" href="../views/credits.html" class="div-5">Кредиты</a>
          <a href="../budget" class="div-5">Бюджет</a>
          <a href="payments.html" class="div-5">Платежи</a>
          <a href="" class="div-5">Виртуальный помощник</a>
        </div>
      </div>
      <div class="div-2">
        <div class="div-9">Калькулятор</div>
        <div class="div-10">
          <div class="div-11">
            <div class="div-12">Сумма кредита</div>
            <div class="volume-control">
              <input
                type="range"
                id="volume"
                name="volume"
                min="100000"
                max="1000000"
                value="614000"
              />
            </div>
            <div class="div-13">100 000 ₸</div>
          </div>
          <div class="div-14"></div>
          <div class="div-15">
            <div class="div-16">
              <div class="div-17">
                <div class="column">
                  <input class="div-18" id="volume-value" type="text" placeholder="0 KZT">
                </div>
                <div class="column-2">
                  <div class="div-19">
                    <div class="div-20">Ежемесячный платеж</div>
                    <div class="div-21">Переплата</div>
                    <div class="div-22">
                      <div class="div-23">
                        <input
                          type="checkbox"
                          id="checkbox1"
                          name="checkboxGroup"
                          value="option1"
                        />
                        <label for="checkbox1">Я согласен(-на)</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column-3">
                  <div class="div-25">
                    <div id="cost" class="div-26"></div>
                    <div id="cost-porcent" class="div-27"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-28">1 000 000₸</div>
          </div>
        </div>
        <div class="div-29">
          <div class="div-30">Срок в месяцах</div>
          <a style="text-decoration: none;" href="../views/academic_credits.html"><div class="div-31">Оформить кредит</div></a>
        </div>
        <div class="div-32">
          <div class="div-33">6</div>
          <div class="div-34">12</div>
          <div class="div-35">24</div>
          <div class="div-36">36</div>
          <div class="div-37">48</div>
          <div class="div-38">60</div>
        </div>
      </div>
      
    </div>
    
    <div class="footer">
      <div class="left_side_container">
          <h1>Мы в соц. сетях:</h1>
          <div class="img_and_texts">
              <div class="telegram">
                  <img src="../views/images/telegram (1) 1.png" alt="">
                  <a href=""><p>bcc.kz</p></a>
              </div>
              <div class="instagram">
                  <img src="../views/images/instagram (6) 1.png" alt="">
                  <a href=""><p>bcc.kz</p></a>
              </div>
              <div class="virtual_helper_footer">
                  <img src="../views/images/speech-bubble 1.png" alt="">
                  <a href=""><p>Виртуальный помощник</p></a>
              </div>
          </div>
      </div>
      <div class="right_side_container">
          <div class="first_column_footer">
              <a href=""><p>Контакты</p></a>
              <a href=""><p>Профиль</p></a>
              <a href=""><p>Кредиты</p></a>
          </div>
          <div class="second_column_footer">
              <a href=""><p>Долги</p></a>
              <a href=""><p>Бюджеты</p></a>
              <a href=""><p>Платежи</p></a>
          </div>
      </div>
  </div>
    <script src="/views/script.js"></script>
  </body>
</html>