<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="diagram.css">
    <title>Budget Monitoring</title>
</head>
<body>
    <div class="container">
        <div class="div-4">
            <a href="" class="div-5">кредиты</a>
            <a href="" class="div-5">долги</a>
            <a href="" class="div-5">бюджет</a>
            <a href="" class="div-5">платежи</a>
            <a href="" class="div-5">Виртуальный помощник</a>
        </div>

        <h1>Мониторинг вашего бюджета <br> за октябр:</h1>

        <div class="diagram_and_data">
            <div class="left_side_data">
                <div class="chart-container">
                    <div style="background-color: #1DD3B0;" class="chart" id="chart1"></div>
                    <div style="background-color: #40916C;" class="chart" id="chart3"></div>
                    <div style="background-color: #8AC926;" class="chart" id="chart2"></div>
                    <div style="background-color: #086375;" class="chart" id="chart4"></div>
                    <div style="background-color: #B2FF9E;" class="chart" id="chart5"></div>
                    <div style="background-color: #AFFC41;" class="chart" id="chart6"></div>
                </div>
            </div>
            <div class="right_side_data">
                <div class="outcomes">
                    <div class="rectangle-container">
                        <div style="background-color: #1DD3B0;" class="mini-rectangle"> </div>
                        <div class="text-to-right">Проживание(89.000T)</div>    <!-- using js and database to write-->        
                    </div>
                    <div class="rectangle-container">
                        <div style="background-color: #40916C;" class="mini-rectangle"> </div>
                        <div class="text-to-right">Оплата за учебу(435.000T)</div>  <!-- using js and database to write-->
                    </div>
                    <div class="rectangle-container">
                        <div style="background-color: #8AC926;" class="mini-rectangle"> </div>
                        <div class="text-to-right">Пересдачи(120.000T)</div>    <!-- using js and database to write-->
                    </div>
                    <div class="rectangle-container">
                        <div style="background-color: #086375;" class="mini-rectangle"> </div>
                        <div class="text-to-right">Еда(45.000T)</div>   <!-- using js and database to write-->
                    </div>
                    <div class="rectangle-container">
                        <div style="background-color: #B2FF9E;" class="mini-rectangle"> </div>
                        <div class="text-to-right">Студенческий фонд(21.000T)</div> <!-- using js and database to write-->
                    </div>
                    <div class="rectangle-container">
                        <div style="background-color: #AFFC41;" class="mini-rectangle"> </div>
                        <div class="text-to-right">Прочее(12.000T)</div>    <!-- using js and database to write-->
                    </div>
                </div>
                <h2>Общие затраты - 722.000Т</h2>   <!-- using js or database to count-->
                <p>На 23% больше чем в предыдущем месяце</p>    <!-- using js and database to compare-->
            </div>
        </div>
    </div>
</body>
</html>