* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  background: rgba(255,255,255,1);
  opacity: 1;
  overflow: hidden;
}

.div-4 {
  z-index: 5;
  width: 100%;
  height: 4rem;
  background-color: rgba(255,255,255,1);
  position: fixed;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .div-4 {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.div-5 {
  margin-top: 1rem;
  display: flex;
  margin-left: 50px;
  font-size: 1.4rem;
  text-decoration: none;
  color: #000;
}


.right-content {
  text-align: right;
}


.welcome_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  padding-left: 100px;
  opacity: 1;
  overflow: hidden;
}

.left-content{
  text-align: left;
}

.welcome_text {
  color: rgba(0,0,0,1);
  top: 0px;
  left: 3px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 3rem;
  opacity: 1;
  text-align: left;
}
.welcome_button {
  width: 300px;
  height: 70px;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  top: 280px;
  left: 0px;
  overflow: hidden;
}
.button {
  width: 250px;
  height: 70px;
  background: rgba(39,174,96,1);
  color: rgba(255,255,255,1);
  font-family: Manrope;
  font-size: 30px;
  opacity: 1;
  text-align: center;
  border: none;
}
.background-image {
  display: block;
  /* position: absolute; */
  top: 150px;
  left: 0;
  z-index: 1;
}
.overlay-image {
  display: block;
  position: absolute;
  top: -20px;
  left: 920px;
  z-index: 2;
}

.our-services {
  width: 449px;
  color: rgba(0,0,0,1);
  margin-top: 100px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 3rem;
  /* opacity: 1; */
  text-align: center;
}

.services_container {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-between; */
  gap: 20px 20px;
}

.monitoring_budget {  background-image: url(../images/image\ 8.png);  }
.educational_credit {  background-image: url(../images/image\ 9.png); }
.virtual_helper {  background-image: url(../images/image\ 10.png); }
.outcome_monitoring {  background-image: url(../images/image\ 11.png); }
.benefit_calculator {  background-image: url(../images/image\ 12.png); }
.personal_financial_position {  background-image: url(../images/image\ 13.png);  }

.educational_credit,
.virtual_helper, 
.monitoring_budget,
.benefit_calculator,
.outcome_monitoring,
.personal_financial_position {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 265px;
  background-color: rgba(39,174,96,1);
  background-size: 100%;
  border-radius: 7%;
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(255,255,255,1);
  font-family: Manrope;
  opacity: 1;
  text-align: left;
  padding-left: 20px;
}

.educational_credit h2,
.virtual_helper h2, 
.monitoring_budget h2,
.benefit_calculator h2,
.outcome_monitoring h2,
.personal_financial_position h2{
  font-weight: Bold;
  font-size: 2.5rem;
}

.educational_credit p,
.virtual_helper p, 
.monitoring_budget p,
.benefit_calculator p,
.outcome_monitoring p,
.personal_financial_position p{
  font-size: 20px;
  margin-top: auto;
}

.educational_credit p{
  margin-top: auto - 20px;
}

.why_work_text {
  width: 891px;
  color: rgba(0,0,0,1);
  font-family: Manrope;
  font-weight: Bold;
  margin-top: 100px;
  font-size: 3rem;
  opacity: 1;
  text-align: center;
}
 
.why_work_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-top: 70px;
  font-family: Manrope;
}

/* .v0_658 {
  width: 100%;
  height: 100%;
  opacity: 1;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}
.v0_658, 
.v0_662 {
  width: 100%;
  height: 100%;
  opacity: 1;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
} */

.v0_658, 
.v0_662, 
.v0_666 {
  width: 28.5%;
  height: 530px;
  opacity: 1;;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  border-radius: 4%;
  border: 2px solid #27AE60;
}

.v0_658 h2, 
.v0_662 h2,
.v0_666 h2{
  font-size: 2.5rem;
  margin-top: 20px;
}

.v0_658 p, 
.v0_662 p,
.v0_666 p{
  font-size: 27.3px;
  margin-top: -15px;
}

.add_info{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 11%;
}

.left_side_info{
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
}

.our_adress_text {
  color: rgba(0,0,0,1);
  font-family: Manrope;
  font-weight: Bold;
  font-size: 3rem;
  opacity: 1;
  text-align: left;
}

.choose_button {
  display: flex;
  flex-direction: row;
  width: 380px;
  height: 65px;
  background-color: rgba(39,174,96,1);
  align-items: center;
  justify-content: center;
}

.choose_city {
  color: rgba(255,255,255,1);
  /* margin: 10px; */
  font-family: Manrope;
  font-weight: Regular;
  font-size: 2rem;
  opacity: 1;
}

.address_text_format {
  color: rgba(39,174,96,1);
  font-family: Manrope;
  font-weight: Medium;
  font-size: 2rem;
  opacity: 1;
  text-align: left;
  margin: 1rem 0;
}

.work_24 {
  color: rgba(0,0,0,1);
  font-family: Manrope;
  font-weight: Medium;
  font-size: 2.2rem;
  opacity: 1;
  text-align: left;
  margin: 1rem 0;
}

.contacts {
  color: rgba(0,0,0,1);
  font-family: Manrope;
  font-weight: Bold;
  font-size: 2.2rem;
  opacity: 1;
  text-align: left;
  margin: 1rem 0;
}

.number_505 {
  color: rgba(0,0,0,1);
  font-family: Manrope;
  font-weight: Medium;
  font-size: 1.5rem;
  opacity: 1;
  text-align: left;
  margin: 0.3rem 0;
}
.number_605 {
  font-family: Manrope;
  font-weight: Medium;
  color: rgba(0,0,0,1);
  font-size: 1.5rem;
  opacity: 1;
  text-align: left;
}

.ask_virtual_helper{
  font-family: Manrope;
  font-weight: Medium;
  font-size: 1.8rem;
  text-align: left;
}

#map{
  width: 40%;
  height: 600px;
  margin-top: 50px;
}