<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope">
    <link id="styleLink" rel="stylesheet" href="needed_documents.css">
    <title>Потверждение личности</title>
</head>
<body>
    <div class="container">
        <div class="div-3">
            <div class="div-4">
                <a href="../views/main_page.html" class="div-5">Главная</a>
                <a style="border-bottom: 2px solid #27ae60;" href="../views/credits.html" class="div-5">Кредиты</a>
                <a href="../views/budget.html" class="div-5">Бюджет</a>
                <a href="" class="div-5">Платежи</a>
                <a href="" class="div-5">Виртуальный помощник</a>
            </div>
        </div>
        <div class="content">
            <div class="left_side_container">
                <h1>Онлайн-заявка на выдачу академического кредита</h1>
                <div class="credit_data">
                    <img src="../views/images/checked_checkbox.png" alt="">
                    <h2>Данные о кредите</h2>
                </div>
                <div class="identity_proof">
                    <img src="../views/images/checked_checkbox.png" alt="">
                    <h2>Потверждение <br> личности</h2>
                </div>
                <div class="documents">
                    <img src="../views/images/unchecked_checkbox.png" alt="">
                    <h2>Документы</h2>
                </div>
                <div class="credit_available">
                    <img src="../views/images/unchecked_checkbox.png" alt="">
                    <h2>Кредитоспособность</h2>
                </div>
                <div class="bank_decision">
                    <img src="../views/images/unchecked_checkbox.png" alt="">
                    <h2>Решение банка</h2>
                </div>
                <div class="signings_documents">
                    <img src="../views/images/unchecked_checkbox.png" alt="">
                    <h2>Подписание документов</h2>
                </div>
                <div class="completion">
                    <img src="../views/images/unchecked_checkbox.png" alt="">
                    <h2>Завершение</h2>
                </div>
            </div>
            <div class="right_side_container">
                <h2>Прикрепите нужные документы</h2>
                <p>Для проверки вашей личной информаций нам нужны <br> ваши документы</p>
                <div class="file-input-container">
                    <input class="identity_card file-input" type="text" placeholder="Удостоверение личности">
                    <label class="file-input-icon" for="identityCardInput">
                        <img src="../views/images/paperclip.png" alt="Paperclip Icon">
                    </label>
                    <input id="identityCardInput" class="file-input" type="file" style="display:none;" accept=".pdf, .doc, .docx">
                </div>
                <div class="file-input-container">
                    <input class="graduation file-input" type="text" placeholder="Выписка учебного заведения">
                    <label class="file-input-icon" for="graduationInput">
                        <img src="../views/images/paperclip.png" alt="Paperclip Icon">
                    </label>
                    <input id="graduationInput" class="file-input" type="file" style="display:none;" accept=".pdf, .doc, .docx">
                </div>
                <div class="file-input-container">
                    <input class="residence_certificate file-input" type="text" placeholder="Справка с места жительства">
                    <label class="file-input-icon" for="sertificateInput">
                        <img src="../views/images/paperclip.png" alt="Paperclip Icon">
                    </label>
                    <input id="sertificateInput" class="file-input" type="file" style="display:none;" accept=".pdf, .doc, .docx">
                </div>

                <button onclick="showPopup(); jumpToBankDecision()">Потвердить</button>
            </div>
        </div>
    </div>
    <div id="loading_popup_container">
        <div class="popup_inside_container">
            <h2>Этот процесс пожет занять некоторое <br> времени, пожалуйста подождите</h2>
            <img src="../views/images/Spinner-1s-200px.gif" alt="">
        </div>
    </div>
    <script id="own_js_file" src="needed_documents.js">
    </script>

    <script src="jumpingFromTo.js">
    </script>
</body>
</html>