*{
    box-sizing: border-box;
}

body{
    font-size: 14px;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Manrope';
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}


#loading_popup_container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 10px 10px -10px rgba(39,174,96,1),
                0 -10px 10px -10px rgba(39,174,96,1),
                10px 0 10px -10px rgba(39,174,96,1),
                -10px 0 10px -10px rgba(39,174,96,1);
    z-index: 5;
  }
  
.popup_inside_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .1rem;
    width: 600px;
    height: 500px;
    
}

.popup_inside_container h2{
    text-align: center;
    font-size: 2rem;
    color: #000;
}

.div-4 {
    width: 90%;
    height: 4rem;
    background-color: rgba(255,255,255,1);
    position: fixed;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .div-5 {
    margin-top: 1rem;
    display: flex;
    margin-left: 50px;
    font-size: 1.4rem;
    text-decoration: none;
    color: #000;
  }

.content{
    margin-top: 5rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: start;
    gap: 5rem;
}

.left_side_container{
    width: 30%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-content: start;
    align-items: flex-start;
    background-color: rgba(39,174,96,1);
    padding: 1rem 7rem 1rem 3rem;
    color: white;
}

.left_side_container h2{
    font-size: 1.2rem;
}

.left_side_container div {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
    
.left_side_container img{
    width: 2rem;
    height: 2rem;
}

.right_side_container {
    display: flex;
    flex-direction: column;
    align-content: start;
    align-items: flex-start;
    color: #000;
}

.right_side_container h2{
    color: rgba(39,174,96,1);
    font-size: 2rem;
}

.right_side_container p{
    color: #000;
    font-size: 1.3rem;
}

.right_side_container img{
    margin-bottom: .5rem;
    width: 1.5rem;
}

.identity_card,
.graduation,
.residence_certificate{
    width: 30rem;
    height: 3rem;
    border: none;
    background-color: #f6f4f4;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 60px;
    margin-bottom: 1rem;
    border-radius: 5%;
}

.right_side_container button{
    background-color: rgba(39,174,96,1);
    border: none;
    color: #fff;
    width: 30rem;
    height: 3rem;
    font-size: 1rem;
}


.file-input-container {
    position: relative;
    width: 30rem;
    margin-bottom: 1rem;
}

.file-input {
    width: 100%;
    height: 3rem;
    border: none;
    background-color: #f6f4f4;
    padding-left: 40px;
    border-radius: 5%;
}

.file-input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
