<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="payments.css" />
    <title>Payments</title>
  </head>
  <body>
    <div class="div">
      <div class="div-2">
        <div class="div-3">
          <div class="div-4">
            <div class="div-5">Главная</div>
            <div class="div-6">Кредиты</div>
            <div class="div-7">Бюджет</div>
            <div class="div-8">
              <div class="div-9">Платежи</div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/c16eb7e0-4200-473a-96f1-15abc0d4adfd?"
                class="img"
              />
            </div>
            <div class="div-10">Виртуальный помощник</div>
          </div>
          <img loading="lazy" srcset="..." class="img-2" />
        </div>
        <div class="div-11">
          <div class="div-12">
            <div class="div-13">Предстоящие платежи</div>
            <div class="div-14">
              <img loading="lazy" srcset="..." class="img-3" />
              <div class="div-15">
                <div class="div-16">Образование</div>
                <div class="div-17">
                  Advanced Programming Technologies, CSS 503
                </div>
              </div>
            </div>
            <div class="div-18">
              <img loading="lazy" srcset="..." class="img-4" />
              <div class="div-19">
                <div class="div-20">Еда/питание</div>
                <div class="div-21">Декабрь, 3 раза в день</div>
              </div>
            </div>
            <div class="div-22">
              <img loading="lazy" srcset="..." class="img-5" />
              <div class="div-23">
                <div class="div-24">Пересдача</div>
                <div class="div-25">20 Апр 2022, 18:55</div>
              </div>
            </div>
          </div>
          <div class="div-26">
            <div class="div-27">
              <div class="div-28">
                <div class="column">
                  <div class="div-29">
                    <div class="div-30">
                      <span style="color: rgba(0, 0, 0, 1)">-54800.</span>
                      <span style="color: rgba(180, 180, 180, 1)">00 KZT</span>
                    </div>
                    <div class="div-31">50.000₸</div>
                    <div class="div-32">
                      <span style="color: rgba(0, 0, 0, 1)">-54800.</span>
                      <span style="color: rgba(180, 180, 180, 1)">00 KZT</span>
                    </div>
                  </div>
                </div>
                <div class="column-2">
                  <div class="div-33">
                    <div class="div-34">Оплатить</div>
                    <div class="div-35">Оплатить</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-36">
              <div class="div-37">
                <span style="color: rgba(0, 0, 0, 1)">-54800.</span>
                <span style="color: rgba(180, 180, 180, 1)">00 KZT</span>
              </div>
              <div class="div-38">Оплатить</div>
            </div>
          </div>
        </div>
        <div class="div-39">
          <div class="div-40">Мои карты</div>
          <div class="div-41">Мои платежи</div>
        </div>
        <div class="div-42">
          <div class="div-43">
            <div class="column-3">
              <div class="div-44">
                <img loading="lazy" srcset="..." class="img-6" />
                <div class="div-45">
                  <div class="div-46">
                    <div class="column-4">
                      <div class="div-47">
                        <div class="div-48">Ваш баланс</div>
                        <div class="div-49">
                          <span style="color: rgba(0, 0, 0, 1)">KZT 5240.</span>
                          <span style="color: rgba(180, 180, 180, 1)">00</span>
                        </div>
                        <div class="div-50">Валюта</div>
                        <div class="div-51">KZ/KZT</div>
                      </div>
                    </div>
                    <div class="column-5">
                      <div class="div-52">
                        <div class="div-53">Статус</div>
                        <div class="div-54">Действующий</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column-6">
              <div class="div-55">
                <div class="div-56">
                  <div class="div-57">
                    <div class="column-7">
                      <div class="div-58">
                        <div class="div-59">
                          <div class="div-60">
                            <div class="div-61">Все платежи</div>
                            <img
                              loading="lazy"
                              src="https://cdn.builder.io/api/v1/image/assets/TEMP/ce8ccbab-8874-4cca-b6b0-684dc73ef70b?"
                              class="img-7"
                            />
                          </div>
                          <div class="div-62">Постоянные платежи</div>
                        </div>
                        <div class="div-63">Сегодня</div>
                        <div class="div-64">
                          <img loading="lazy" srcset="..." class="img-8" />
                          <div class="div-65">
                            <div class="div-66">Еда/питание</div>
                            <div class="div-67">20 Апр 2022, 18:55</div>
                          </div>
                        </div>
                        <div class="div-68">
                          <img loading="lazy" srcset="..." class="img-9" />
                          <div class="div-69">
                            <div class="div-70">Образование</div>
                            <div class="div-71">20 Апр 2022, 18:55</div>
                          </div>
                        </div>
                        <div class="div-72">
                          <img loading="lazy" srcset="..." class="img-10" />
                          <div class="div-73">
                            <div class="div-74">Пересдача</div>
                            <div class="div-75">20 Апр 2022, 18:55</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="column-8">
                      <div class="div-76">
                        <div class="div-77">
                          <span style="color: rgba(0, 0, 0, 1)">+$54800.</span>
                          <span style="color: rgba(180, 180, 180, 1)">00</span>
                        </div>
                        <div class="div-78">
                          <span style="color: rgba(0, 0, 0, 1)">+$54800.</span>
                          <span style="color: rgba(180, 180, 180, 1)">00</span>
                        </div>
                        <div class="div-79">
                          <span style="color: rgba(0, 0, 0, 1)">+$54800.</span>
                          <span style="color: rgba(180, 180, 180, 1)">00</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="div-80">
                  <div class="div-81">
                    <div class="div-82">
                      <img loading="lazy" srcset="..." class="img-11" />
                      <div class="div-83">
                        <div class="div-84">Образование</div>
                        <div class="div-85">20 Апр 2022, 18:55</div>
                      </div>
                    </div>
                    <div class="div-86">
                      <img loading="lazy" srcset="..." class="img-12" />
                      <div class="div-87">
                        <div class="div-88">Пересдача</div>
                        <div class="div-89">20 Апр 2022, 18:55</div>
                      </div>
                    </div>
                  </div>
                  <div class="div-90">
                    <div class="div-91">
                      <span style="color: rgba(0, 0, 0, 1)">+$54800.</span>
                      <span style="color: rgba(180, 180, 180, 1)">00</span>
                    </div>
                    <div class="div-92">
                      <span style="color: rgba(0, 0, 0, 1)">+$54800.</span>
                      <span style="color: rgba(180, 180, 180, 1)">00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-93">
          <div class="div-94">+</div>
          <div class="div-95">добавить карту</div>
        </div>
      </div>
      <div class="div-96">
        <div class="div-97">
          <div class="div-98">
            <div class="div-99">
              <div class="div-100">Мы в соц. сетях:</div>
              <img loading="lazy" srcset="..." class="img-13" />
              <div class="div-101">bcc.kz</div>
            </div>
            <div class="div-102">
              <div class="div-103">
                <img loading="lazy" srcset="..." class="img-14" />
                <div class="div-104">bcc.kz</div>
              </div>
              <div class="div-105">
                <img loading="lazy" srcset="..." class="img-15" />
                <div class="div-106">Виртуальный помощник</div>
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/1ac098a6-d274-4d49-94b0-2eb2cc125e83?"
                  class="img-16"
                />
              </div>
            </div>
          </div>
          <div class="div-107">
            Контакты
            <br />
            Профиль
            <br />
            Кредиты
          </div>
          <div class="div-108">
            Долги
            <br />
            Бюджеты
            <br />
            Платежи
            <br />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
