<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="profile.css" />
    <title>Profile</title>
  </head>
  <body>
    <div class="div">
      <div class="div-2">
        <div class="div-3">
          <div class="div-4">
            <div class="div-5">Главная</div>
            <div class="div-5">Кредиты</div>
            <div class="div-5">Бюджет</div>
            <div class="div-5">
              <div class="div-5">Платежи</div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/e00f4fd8-53d0-4d8a-b5ad-c62625a8f6bb?apiKey=1c66e238323c4137aa90a60ae9b42522&"
                class="img"
              />
            </div>
            <div class="div-5">Виртуальный помощник</div>
          </div>
          <img
            loading="lazy"
            srcset="
              https://cdn.builder.io/api/v1/image/assets/TEMP/1d6fe70f-fedb-41c4-9f6d-3822ec6ff08e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=100   100w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/1d6fe70f-fedb-41c4-9f6d-3822ec6ff08e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=200   200w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/1d6fe70f-fedb-41c4-9f6d-3822ec6ff08e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=400   400w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/1d6fe70f-fedb-41c4-9f6d-3822ec6ff08e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=800   800w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/1d6fe70f-fedb-41c4-9f6d-3822ec6ff08e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1200 1200w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/1d6fe70f-fedb-41c4-9f6d-3822ec6ff08e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1600 1600w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/1d6fe70f-fedb-41c4-9f6d-3822ec6ff08e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=2000 2000w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/1d6fe70f-fedb-41c4-9f6d-3822ec6ff08e?apiKey=1c66e238323c4137aa90a60ae9b42522&
            "
            class="img-2"
          />
        </div>
        <div class="div-11">
          <div class="div-12">
            <div class="column">
              <img
                loading="lazy"
                srcset="
                  https://cdn.builder.io/api/v1/image/assets/TEMP/1176fcd7-6447-4507-a0b9-7c45635ea559?apiKey=1c66e238323c4137aa90a60ae9b42522&width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/1176fcd7-6447-4507-a0b9-7c45635ea559?apiKey=1c66e238323c4137aa90a60ae9b42522&width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/1176fcd7-6447-4507-a0b9-7c45635ea559?apiKey=1c66e238323c4137aa90a60ae9b42522&width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/1176fcd7-6447-4507-a0b9-7c45635ea559?apiKey=1c66e238323c4137aa90a60ae9b42522&width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/1176fcd7-6447-4507-a0b9-7c45635ea559?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/1176fcd7-6447-4507-a0b9-7c45635ea559?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/1176fcd7-6447-4507-a0b9-7c45635ea559?apiKey=1c66e238323c4137aa90a60ae9b42522&width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/1176fcd7-6447-4507-a0b9-7c45635ea559?apiKey=1c66e238323c4137aa90a60ae9b42522&
                "
                class="img-3"
              />
            </div>
            <div class="column-2">
              <div class="div-13">
                <div class="div-14">Бекбосын Ансар</div>
                <div class="div-15">Информационные технологии</div>
                <div class="div-16">Должен заплатить</div>
                <div class="div-17">130,000 KZT</div>
                <div class="div-18">На счету</div>
                <div class="div-19">130,000 KZT</div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-20">
          <div class="div-21">
            <div class="div-22">
              <div class="column-3">
                <div class="div-23">
                  <img
                    loading="lazy"
                    srcset="
                      https://cdn.builder.io/api/v1/image/assets/TEMP/436436db-eae9-4dcc-9338-48e6d026331c?apiKey=1c66e238323c4137aa90a60ae9b42522&width=100   100w,
                      https://cdn.builder.io/api/v1/image/assets/TEMP/436436db-eae9-4dcc-9338-48e6d026331c?apiKey=1c66e238323c4137aa90a60ae9b42522&width=200   200w,
                      https://cdn.builder.io/api/v1/image/assets/TEMP/436436db-eae9-4dcc-9338-48e6d026331c?apiKey=1c66e238323c4137aa90a60ae9b42522&width=400   400w,
                      https://cdn.builder.io/api/v1/image/assets/TEMP/436436db-eae9-4dcc-9338-48e6d026331c?apiKey=1c66e238323c4137aa90a60ae9b42522&width=800   800w,
                      https://cdn.builder.io/api/v1/image/assets/TEMP/436436db-eae9-4dcc-9338-48e6d026331c?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1200 1200w,
                      https://cdn.builder.io/api/v1/image/assets/TEMP/436436db-eae9-4dcc-9338-48e6d026331c?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1600 1600w,
                      https://cdn.builder.io/api/v1/image/assets/TEMP/436436db-eae9-4dcc-9338-48e6d026331c?apiKey=1c66e238323c4137aa90a60ae9b42522&width=2000 2000w,
                      https://cdn.builder.io/api/v1/image/assets/TEMP/436436db-eae9-4dcc-9338-48e6d026331c?apiKey=1c66e238323c4137aa90a60ae9b42522&
                    "
                    class="img-4"
                  />
                  <div class="div-24">
                    <div class="div-25">
                      <div class="column-4">
                        <div class="div-26">
                          <div class="div-27">Ваш баланс</div>
                          <div class="div-28">
                            <span style="color: rgba(0, 0, 0, 1)"
                              >KZT 5240.00
                            </span>
                          </div>
                          <div class="div-29">Валюта</div>
                          <div class="div-30">KZ/KZT</div>
                        </div>
                      </div>
                      <div class="column-5">
                        <div class="div-31">
                          <div class="div-32">Статус</div>
                          <div class="div-33">Действующий</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="div-34">
                    <button id="add" class="div-36">+ добавить карту</button>
                  </div>
                </div>
              </div>
              <div class="column-6">
                <div class="div-37">
                  <div class="div-38">
                    <div class="div-39">
                      <div class="column-7">
                        <div class="div-40">
                          <button class="div-41">О себе</button>
                          <img
                            loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/6072e3fb-bbe1-4301-b362-6c62f9465781?apiKey=1c66e238323c4137aa90a60ae9b42522&"
                            class="img-5"
                          />
                          <div class="div-42">Контактная информация</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div></div>
                  <div class="div-44">
                    <div class="div-46">Номер телефона:</div>
                    <div class="fives-2">+7 777 123 45 67</div>
                  </div>
                  <div class="div-48">
                    <div class="div-50">Адрес:</div>
                    <div class="fives-1">город Тараз. мкр Мынбулак. дом 43</div>
                  </div>
                  <div class="div-52">
                    <div class="div-55">Университет:</div>
                    <div class="fives">СДУ</div>
                  </div>
                  <div class="div-59">
                    <div class="div-61">ИИН:</div>
                    <div class="fives-3">1234567891011</div>
                  </div>
                  <div class="div-63">
                    <div class="div-65">Курс:</div>
                    <div class="fives-4">Бакалавриат, 2 курс</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-76">
        <div class="div-77">
          <div class="div-78">
            <div class="div-79">
              <div class="div-80">Мы в соц. сетях:</div>
              <img
                loading="lazy"
                srcset="
                  https://cdn.builder.io/api/v1/image/assets/TEMP/f6c2de6e-9706-400d-9c67-f0c8c9755a06?apiKey=1c66e238323c4137aa90a60ae9b42522&width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/f6c2de6e-9706-400d-9c67-f0c8c9755a06?apiKey=1c66e238323c4137aa90a60ae9b42522&width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/f6c2de6e-9706-400d-9c67-f0c8c9755a06?apiKey=1c66e238323c4137aa90a60ae9b42522&width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/f6c2de6e-9706-400d-9c67-f0c8c9755a06?apiKey=1c66e238323c4137aa90a60ae9b42522&width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/f6c2de6e-9706-400d-9c67-f0c8c9755a06?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/f6c2de6e-9706-400d-9c67-f0c8c9755a06?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/f6c2de6e-9706-400d-9c67-f0c8c9755a06?apiKey=1c66e238323c4137aa90a60ae9b42522&width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/f6c2de6e-9706-400d-9c67-f0c8c9755a06?apiKey=1c66e238323c4137aa90a60ae9b42522&
                "
                class="img-11"
              />
              <div class="div-81">bcc.kz</div>
            </div>
            <div class="div-82">
              <div class="div-83">
                <img
                  loading="lazy"
                  srcset="
                    https://cdn.builder.io/api/v1/image/assets/TEMP/fafc4c22-2a91-4676-9d2a-057c817e2162?apiKey=1c66e238323c4137aa90a60ae9b42522&width=100   100w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/fafc4c22-2a91-4676-9d2a-057c817e2162?apiKey=1c66e238323c4137aa90a60ae9b42522&width=200   200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/fafc4c22-2a91-4676-9d2a-057c817e2162?apiKey=1c66e238323c4137aa90a60ae9b42522&width=400   400w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/fafc4c22-2a91-4676-9d2a-057c817e2162?apiKey=1c66e238323c4137aa90a60ae9b42522&width=800   800w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/fafc4c22-2a91-4676-9d2a-057c817e2162?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1200 1200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/fafc4c22-2a91-4676-9d2a-057c817e2162?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1600 1600w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/fafc4c22-2a91-4676-9d2a-057c817e2162?apiKey=1c66e238323c4137aa90a60ae9b42522&width=2000 2000w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/fafc4c22-2a91-4676-9d2a-057c817e2162?apiKey=1c66e238323c4137aa90a60ae9b42522&
                  "
                  class="img-12"
                />
                <div class="div-84">bcc.kz</div>
              </div>
              <div class="div-85">
                <img
                  loading="lazy"
                  srcset="
                    https://cdn.builder.io/api/v1/image/assets/TEMP/fb08e03a-7cba-4554-8323-fbc1e5592396?apiKey=1c66e238323c4137aa90a60ae9b42522&width=100   100w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/fb08e03a-7cba-4554-8323-fbc1e5592396?apiKey=1c66e238323c4137aa90a60ae9b42522&width=200   200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/fb08e03a-7cba-4554-8323-fbc1e5592396?apiKey=1c66e238323c4137aa90a60ae9b42522&width=400   400w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/fb08e03a-7cba-4554-8323-fbc1e5592396?apiKey=1c66e238323c4137aa90a60ae9b42522&width=800   800w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/fb08e03a-7cba-4554-8323-fbc1e5592396?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1200 1200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/fb08e03a-7cba-4554-8323-fbc1e5592396?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1600 1600w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/fb08e03a-7cba-4554-8323-fbc1e5592396?apiKey=1c66e238323c4137aa90a60ae9b42522&width=2000 2000w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/fb08e03a-7cba-4554-8323-fbc1e5592396?apiKey=1c66e238323c4137aa90a60ae9b42522&
                  "
                  class="img-13"
                />
                <div class="div-86">Виртуальный помощник</div>
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/dca030fb-1922-46b7-b276-ee947db3634d?apiKey=1c66e238323c4137aa90a60ae9b42522&"
                  class="img-14"
                />
              </div>
            </div>
          </div>
          <div class="div-87">
            Контакты
            <br />
            Профиль
            <br />
            Кредиты
          </div>
          <div class="div-88">
            Долги
            <br />
            Бюджеты
            <br />
            Платежи
            <br />
          </div>
        </div>
      </div>
    </div>
    <div id="myModals" class="modals">
      <div class="modals-content">
        <div class="div-129">
          <div class="div-130">
            <span class="closes" onclick="closeModals()">&times;</span>
            <div class="div-131">Add a card</div>
            <div class="div-132">Имя владельца карты</div>
            <div class="div-133">
              <div class="div-134">
                <img
                  loading="lazy"
                  srcset="
                    https://cdn.builder.io/api/v1/image/assets/TEMP/f3ef59dd-84e8-4cf3-a646-4e7aa684354f?apiKey=1c66e238323c4137aa90a60ae9b42522&width=100   100w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/f3ef59dd-84e8-4cf3-a646-4e7aa684354f?apiKey=1c66e238323c4137aa90a60ae9b42522&width=200   200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/f3ef59dd-84e8-4cf3-a646-4e7aa684354f?apiKey=1c66e238323c4137aa90a60ae9b42522&width=400   400w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/f3ef59dd-84e8-4cf3-a646-4e7aa684354f?apiKey=1c66e238323c4137aa90a60ae9b42522&width=800   800w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/f3ef59dd-84e8-4cf3-a646-4e7aa684354f?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1200 1200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/f3ef59dd-84e8-4cf3-a646-4e7aa684354f?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1600 1600w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/f3ef59dd-84e8-4cf3-a646-4e7aa684354f?apiKey=1c66e238323c4137aa90a60ae9b42522&width=2000 2000w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/f3ef59dd-84e8-4cf3-a646-4e7aa684354f?apiKey=1c66e238323c4137aa90a60ae9b42522&
                  "
                  class="img-19"
                />
                <input class="div-135" type="text" placeholder="Имя" />
              </div>
              <div class="div-136">Номер карты</div>
            </div>
            <div class="div-138">
              <img
                loading="lazy"
                srcset="
                  https://cdn.builder.io/api/v1/image/assets/TEMP/276ac18c-f291-446a-99d3-c377699b386e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/276ac18c-f291-446a-99d3-c377699b386e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/276ac18c-f291-446a-99d3-c377699b386e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/276ac18c-f291-446a-99d3-c377699b386e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/276ac18c-f291-446a-99d3-c377699b386e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/276ac18c-f291-446a-99d3-c377699b386e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/276ac18c-f291-446a-99d3-c377699b386e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/276ac18c-f291-446a-99d3-c377699b386e?apiKey=1c66e238323c4137aa90a60ae9b42522&
                "
                class="img-22"
              />
              <input class="div-139" type="text" placeholder="Номер карты" />
              <div class="div-140">Срок годности</div>
            </div>
            <div class="div-142">
              <img
                loading="lazy"
                srcset="
                  https://cdn.builder.io/api/v1/image/assets/TEMP/d5d19646-30e6-4c55-a175-786025dffcf9?apiKey=1c66e238323c4137aa90a60ae9b42522&width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/d5d19646-30e6-4c55-a175-786025dffcf9?apiKey=1c66e238323c4137aa90a60ae9b42522&width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/d5d19646-30e6-4c55-a175-786025dffcf9?apiKey=1c66e238323c4137aa90a60ae9b42522&width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/d5d19646-30e6-4c55-a175-786025dffcf9?apiKey=1c66e238323c4137aa90a60ae9b42522&width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/d5d19646-30e6-4c55-a175-786025dffcf9?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/d5d19646-30e6-4c55-a175-786025dffcf9?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/d5d19646-30e6-4c55-a175-786025dffcf9?apiKey=1c66e238323c4137aa90a60ae9b42522&width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/d5d19646-30e6-4c55-a175-786025dffcf9?apiKey=1c66e238323c4137aa90a60ae9b42522&
                "
                class="img-20"
              />
              <input class="div-143" type="text" placeholder="Номер карты" />
              <div class="div-144">Проверочный код карты</div>
            </div>
            <div class="div-146">
              <div class="div-147">
                <img
                  loading="lazy"
                  srcset="
                    https://cdn.builder.io/api/v1/image/assets/TEMP/0153b7f8-4694-4111-aec4-633894a3c970?apiKey=1c66e238323c4137aa90a60ae9b42522&width=100   100w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/0153b7f8-4694-4111-aec4-633894a3c970?apiKey=1c66e238323c4137aa90a60ae9b42522&width=200   200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/0153b7f8-4694-4111-aec4-633894a3c970?apiKey=1c66e238323c4137aa90a60ae9b42522&width=400   400w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/0153b7f8-4694-4111-aec4-633894a3c970?apiKey=1c66e238323c4137aa90a60ae9b42522&width=800   800w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/0153b7f8-4694-4111-aec4-633894a3c970?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1200 1200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/0153b7f8-4694-4111-aec4-633894a3c970?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1600 1600w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/0153b7f8-4694-4111-aec4-633894a3c970?apiKey=1c66e238323c4137aa90a60ae9b42522&width=2000 2000w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/0153b7f8-4694-4111-aec4-633894a3c970?apiKey=1c66e238323c4137aa90a60ae9b42522&
                  "
                  class="img-21"
                />
                <input class="div-148" type="text" placeholder="Номер карты" />
              </div>
            </div>
            <button class="div-153">Добавить</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const payButtons = ["add"];

        payButtons.forEach(function (buttonId) {
          const payButton = document.getElementById(buttonId);
          payButton.addEventListener("click", function () {
            openModals();
          });
        });
        function openModals() {
          const modals = document.getElementById("myModals");
          modals.style.display = "block";
        }
        window.closeModals = function () {
          const modals = document.getElementById("myModals");
          modals.style.display = "none";
        };
      });

      function toggleDropdown() {
        const dropdown = document.getElementById("cardDropdown");
        dropdown.classList.toggle("show");
      }

      window.onclick = function (event) {
        if (!event.target.matches(".div-119")) {
          const dropdowns = document.getElementsByClassName("dropdown-content");
          for (let i = 0; i < dropdowns.length; i++) {
            const openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }
      };
    </script>
  </body>
</html>
