<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope">
    <link rel="stylesheet" href="registration.css" />
    <title>Fintech</title>
  </head>
  <body>
    <div class="div">
      <div class="div-2">
        <div class="column">
          <div class="div-3">
            <div class="div-4">
              <div class="div-5">Добро пожаловать!</div>
              <div class="div-6">
                Для поддержания связи с нами, пожалуйста,
                <br />
                войдите, используя свои личные данные
              </div>
            </div>
            <div class="div-7">
              <div class="div-8">
                <div class="column-2">
                  <div class="div-9"><div class="div-10"></div></div>
                </div>
                <div class="column-3">
                  <a href="../views/login.html"><div class="div-11"><div class="div-12">Вход</div></div></a>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column-4">
          <div class="div-13">
            <div class="div-14">Создать аккаунт</div>
            <div>
              <div class="div-16">
                <!-- <img loading="lazy" srcset="..." class="img" /> -->
                <input class="div-15" type="text" placeholder="Ф.И.О" />
              </div>
            </div>
            <div>
              <!-- <img loading="lazy" srcset="..." class="img-2" /> -->
              <input class="div-17" type="text" placeholder="Номер телефона" />
            </div>
            <div>
              <div class="div-22">
                <!-- <img loading="lazy" srcset="..." class="img-3" /> -->
                <input class="div-21" type="text" placeholder="ИИН" />
              </div>
            </div>
            <div>
              <div>
                <!-- <img loading="lazy" srcset="..." class="img-4" /> -->
                <input class="div-25" type="password" placeholder="Пароль" />
              </div>
            </div>
            <div class="div-29">
              <input
                type="checkbox"
                id="checkbox1"
                name="checkboxGroup"
                value="option1"
              />
              <label for="checkbox1">Запомни меня</label>
            </div>
           <button class="div-32" onclick="showPopup()">Зарегистрироваться</button>
          </div>
        </div>
      </div>
    </div>
    <div id="popup-container" class="popup">
      <div class="popup_inside_container">
        <h2>Верификация</h2>
        <p>
          Пожалуйста введите код, который <br> мы отправили на ваш номер
        </p>
        <div class="verification-inputs">
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
        </div>
        <a href="../views/login.html"><button onclick="sendVerificationCode(); closePopup()">Отправить</button></a>
        <!-- <button onclick="closePopup()">Close</button> -->
      </div>
    </div>
    
    <script>
      function showPopup() {
        document.getElementById('popup-container').style.display = 'block';
      }
    
      function closePopup() {
        document.getElementById('popup-container').style.display = 'none';
      }

      function sendVerificationCode() {
    // Add your logic to handle the verification code and sending it
    alert('Verification code sent!'); // You can replace this with your actual logic
  }
    </script>
  </body>
</html>
