*{
    box-sizing: border-box;
}

a{
    color: #000;
}

body{
    font-size: 14px;
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center; */
    font-family: Manrope;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    width: 90%;
    margin-left: 5rem;
    flex-direction: column;
}

.div-3 {
    /* align-self: end; */
    display: flex;
    margin-right: -20px;
    width: 1236px;
    margin-top: 4rem;
    max-width: 100%;
    align-items: end;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-3 {
      flex-wrap: wrap;
    }
  }

.div-4 {
    width: 90%;
    height: 4rem;
    background-color: rgba(255,255,255,1);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .div-5 {
    margin-top: 1rem;
    display: flex;
    margin-left: 50px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #000;
  }

  .div-5:hover {
    border-bottom: 2px solid #27ae60;
  }

.container h1{
    margin-top: 5rem;
    font-family: Manrope;
    color: rgba(39,174,96,1);
}

.chatting_header{
    display: flex;
    flex-direction: row;
    gap: 15rem;
    font-size: 1.2rem;
}

.chatting_header h3{
    cursor: pointer;
}

.content{
    display: flex;
    flex-direction: column;
}

.content div{
    display: flex;
    flex-direction: column;
}

.content div .question1{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 10rem; */
    background-color: #fff; box-shadow: 10px 0 10px -10px #000, 0 10px 10px -10px #000, 0 -5px 10px -10px #000, -10px 0 10px -10px #000; 
    padding: 1rem 1rem;
}

.content div .question2{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 10rem; */
    background-color: #fff; box-shadow: 10px 0 10px -10px #000, 0 10px 10px -10px #000, 0 -5px 10px -10px #000, -10px 0 10px -10px #000; 
    padding: 1rem 1rem;
}

.content div .question3{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 10rem; */
    background-color: #fff; box-shadow: 10px 0 10px -10px #000, 0 10px 10px -10px #000, 0 -5px 10px -10px #000, -10px 0 10px -10px #000; 
    padding: 1rem 1rem;
}

.content div .answer_container1{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 10rem; */
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}

.content div .answer_container2{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 10rem; */
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}

.content div .answer_container3{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 10rem; */
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}


.content div img{
    width: 2rem;
    height: 2rem;
}


.button_container{
    width: 95%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.count_container h2{
    font-size: 2rem;
}

.count_container p{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(39,174,96,1);
    /* gap: 0rem; */
    justify-content: center;
    color: #fff;
    gap: 25rem;
    padding-bottom: 2rem;
  }
  
  .footer a{
    color: #fff;
  }
  
  .left_side_container{
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
  
  .img_and_texts{
    display: flex;
    flex-direction: column;
    /* gap: rem; */
  }
  
  .img_and_texts div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    font-size: 1.2rem;
  }
  
  .img_and_texts img{
    width: 2rem;
    height: 2rem;
  }
  
  .right_side_container{
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    gap: 5rem;
  }
  
  .first_column_footer{
    display: flex;
    flex-direction: column;
    /* gap: 1.2rem; */
  }
  
  .second_column_footer{
    display: flex;
    flex-direction: column;
    /* gap: 1.2rem; */
  }