<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="payments.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Manrope"
      rel="stylesheet"
    />
    <title>Платежи</title>
  </head>
  <body>
    <div class="div">
      <div class="div-2">
        <div class="div-3">
          <div class="div-4">
            <a href="/" class="div-5">Главная</a>
            <a href="/credits" class="div-5">Кредиты</a>
            <a href="/budget" class="div-5">Бюджет</a>
            <a href="/payments" class="div-5">Платежи</a>
            <a href="/virtual_helper" class="div-5">Виртуальный помощник</a>
          </div>
        </div>
        <div class="div-11">
          <div class="div-12">
            <div class="div-13">Предстоящие платежи</div>
            <div class="div-14">
              <img src="images/books_7905481 1.png" alt="" class="img-3" />
              <div class="div-15">
                <div class="div-16">Образование</div>
                <div class="div-17">
                  Advanced Programming Technologies, CSS 503
                </div>
              </div>
            </div>
            <div class="div-18">
              <img src="images/cutlery_3170733 1.png" alt="" class="img-4" />
              <div class="div-19">
                <div class="div-20">Еда/питание</div>
                <div class="div-21">Декабрь, 3 раза в день</div>
              </div>
            </div>
            <div class="div-22">
              <img
                src="images/synchronization_6898671 1.png"
                alt=""
                class="img-5"
              />
              <div class="div-23">
                <div class="div-24">Пересдача</div>
                <div class="div-25">20 Апр 2022, 18:55</div>
              </div>
            </div>
          </div>
          <div class="div-26">
            <div class="div-27">
              <div class="div-28">
                <div class="column">
                  <div class="div-29">
                    <div class="div-30">
                      <span style="color: rgba(0, 0, 0, 1)">-54800.00KZT</span>
                    </div>
                    <div class="div-32">
                      <span style="color: rgba(0, 0, 0, 1)">-54800.00KZT</span>
                    </div>
                  </div>
                </div>
                <div class="column-2">
                  <div id="div-33" class="div-33">
                    <button id="div-34" class="div-34">Оплатить</button>
                    <button id="div-35" class="div-35">Оплатить</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-36">
              <div class="div-37">
                <span style="color: rgba(0, 0, 0, 1)">-54800.00KZT</span>
              </div>
              <button id="div-38" class="div-38">Оплатить</button>
            </div>
          </div>
        </div>
        <div class="div-39">
          <div class="div-40">Мои карты</div>
          <div class="div-41">Мои платежи</div>
        </div>
        <div class="div-42">
          <div class="div-43">
            <div class="column-3">
              <div class="div-44">
                <img src="images/image 4.png" class="img-6" alt="" />
                <div class="div-45">
                  <div class="div-46">
                    <div class="column-4">
                      <div class="div-47">
                        <div class="div-48">Ваш баланс</div>
                        <div class="div-49">
                          <span style="color: rgba(0, 0, 0, 1)"
                            >KZT 5240.00</span
                          >
                        </div>
                        <div class="div-50">Валюта</div>
                        <div class="div-51">KZ/KZT</div>
                      </div>
                    </div>
                    <div class="column-5">
                      <div class="div-52">
                        <div class="div-53">Статус</div>
                        <div class="div-54">Действующий</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column-6">
              <div class="div-55">
                <div class="div-56">
                  <div class="div-57">
                    <div class="column-7">
                      <div class="div-58">
                        <div class="div-59">
                          <div class="div-60">
                            <button id="div-61" class="div-61">
                              Все платежи
                            </button>
                          </div>
                          <button id="div-62" class="div-62">
                            Постоянные платежи
                          </button>
                        </div>
                        <div class="div-63">Сегодня</div>
                        <% if (operations.length) { %> <% operations.forEach(({
                        student_name, subject_name, sum , createdAt}) => { %>
                        <div class="div-64">
                          <img src="images/done.png" alt="" class="img-8" />
                          <div class="div-65">
                            <div class="div-66"><%= subject_name %></div>
                            <div class="div-67">
                              <%=createdAt.toLocaleDateString() + " "+
                              createdAt.getHours().toString().padStart(2, '0') +
                              ":" +
                              createdAt.getMinutes().toString().padStart(2, '0')
                              %>
                            </div>
                          </div>
                          <div class="div-77">
                            <span style="color: rgba(0, 0, 0, 1)"
                              ><%= sum %></span
                            >
                          </div>
                        </div>

                        <% }) %> <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button id="div-93" class="div-93">+ Добавить карту</button>
      </div>
      <div class="div-109">
        <div class="div-96">
          <div class="div-97">
            <div class="div-98">
              <div class="div-99">
                <div class="div-100">Мы в соц. сетях:</div>
                <img src="images/telegram (1) 1.png" alt="" class="img-13" />
                <div class="div-101">bcc.kz</div>
              </div>
              <div class="div-102">
                <div class="div-103">
                  <img src="images/instagram (6) 1.png" alt="" class="img-14" />
                  <div class="div-104">bcc.kz</div>
                </div>
                <div class="div-105">
                  <img src="images/speech-bubble 1.png" alt="" class="img-15" />
                  <div class="div-106">Виртуальный помощник</div>
                  <!-- <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/88b17bb3-a54c-41ca-bfd6-0cf1f7a0c3ae?"
                    class="img-5"
                  /> -->
                </div>
              </div>
            </div>
            <div class="div-107">
              <a href="#">Контакты</a>
              <br />
              <a href="#">Профиль</a>
              <br />
              <a href="#">Кредиты</a>
            </div>
            <div class="div-108">
              <a href="#">Долги</a>
              <br />
              <a href="#">Бюджеты</a>
              <br />
              <a href="#">Платежи</a>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <div class="div-109">
          <div class="div-110">
            <span class="close" onclick="closeModal()">&times;</span>
            <div class="div-111">Оплата</div>
            <div class="div-112">
              <img src="images/books_7905481 1.png" class="img-16" />
              <div class="div-113">
                <div class="div-114">Образование</div>
                <div class="div-115">
                  Advanced Programming Technologies, CSS 503
                </div>
              </div>
            </div>
            <div class="div-116">Способ оплаты</div>
            <div class="div-117">
              <div class="div-118">
                <img src="images/card-payment 1.png" class="img-17" />
                <div id="div-119" class="div-119" onclick="toggleDropdown()">
                  Выберите карту
                </div>
                <div class="div-120">SIGN IN</div>
              </div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/e3407bf8-b4c2-46e4-812b-04c68b94e5a6?"
                class="img-18"
                id="lazy"
              />
              <div id="cardDropdown" class="dropdown-content">
                <div>Kaspi kz</div>
                <div>Sberbank</div>
                <div>Halyk Bank</div>
              </div>
            </div>
            <div class="div-121">
              <div class="div-122">
                <div class="div-123">Будет списано</div>
                <div class="div-124">Ваш баланс</div>
              </div>
              <div class="div-125">
                <div class="div-126">54800.00 KZT</div>
                <div class="div-127">156000,00 KZT</div>
              </div>
            </div>
            <button class="div-128">Оплатить</button>
          </div>
        </div>
      </div>
    </div>
    <div id="myModals" class="modals">
      <div class="modals-content">
        <div class="div-129">
          <div class="div-130">
            <span class="closes" onclick="closeModals()">&times;</span>
            <div class="div-131">Add a card</div>
            <div class="div-132">Имя владельца карты</div>
            <div class="div-133">
              <div class="div-134">
                <img
                  loading="lazy"
                  srcset="
                    https://cdn.builder.io/api/v1/image/assets/TEMP/f3ef59dd-84e8-4cf3-a646-4e7aa684354f?apiKey=1c66e238323c4137aa90a60ae9b42522&width=100   100w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/f3ef59dd-84e8-4cf3-a646-4e7aa684354f?apiKey=1c66e238323c4137aa90a60ae9b42522&width=200   200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/f3ef59dd-84e8-4cf3-a646-4e7aa684354f?apiKey=1c66e238323c4137aa90a60ae9b42522&width=400   400w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/f3ef59dd-84e8-4cf3-a646-4e7aa684354f?apiKey=1c66e238323c4137aa90a60ae9b42522&width=800   800w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/f3ef59dd-84e8-4cf3-a646-4e7aa684354f?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1200 1200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/f3ef59dd-84e8-4cf3-a646-4e7aa684354f?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1600 1600w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/f3ef59dd-84e8-4cf3-a646-4e7aa684354f?apiKey=1c66e238323c4137aa90a60ae9b42522&width=2000 2000w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/f3ef59dd-84e8-4cf3-a646-4e7aa684354f?apiKey=1c66e238323c4137aa90a60ae9b42522&
                  "
                  class="img-19"
                />
                <input class="div-135" type="text" placeholder="Имя" />
              </div>
              <div class="div-136">Номер карты</div>
            </div>
            <div class="div-138">
              <img
                loading="lazy"
                srcset="
                  https://cdn.builder.io/api/v1/image/assets/TEMP/276ac18c-f291-446a-99d3-c377699b386e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/276ac18c-f291-446a-99d3-c377699b386e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/276ac18c-f291-446a-99d3-c377699b386e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/276ac18c-f291-446a-99d3-c377699b386e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/276ac18c-f291-446a-99d3-c377699b386e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/276ac18c-f291-446a-99d3-c377699b386e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/276ac18c-f291-446a-99d3-c377699b386e?apiKey=1c66e238323c4137aa90a60ae9b42522&width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/276ac18c-f291-446a-99d3-c377699b386e?apiKey=1c66e238323c4137aa90a60ae9b42522&
                "
                class="img-22"
              />
              <input class="div-139" type="text" placeholder="Номер карты" />
              <div class="div-140">Срок годности</div>
            </div>
            <div class="div-142">
              <img
                loading="lazy"
                srcset="
                  https://cdn.builder.io/api/v1/image/assets/TEMP/d5d19646-30e6-4c55-a175-786025dffcf9?apiKey=1c66e238323c4137aa90a60ae9b42522&width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/d5d19646-30e6-4c55-a175-786025dffcf9?apiKey=1c66e238323c4137aa90a60ae9b42522&width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/d5d19646-30e6-4c55-a175-786025dffcf9?apiKey=1c66e238323c4137aa90a60ae9b42522&width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/d5d19646-30e6-4c55-a175-786025dffcf9?apiKey=1c66e238323c4137aa90a60ae9b42522&width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/d5d19646-30e6-4c55-a175-786025dffcf9?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/d5d19646-30e6-4c55-a175-786025dffcf9?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/d5d19646-30e6-4c55-a175-786025dffcf9?apiKey=1c66e238323c4137aa90a60ae9b42522&width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/d5d19646-30e6-4c55-a175-786025dffcf9?apiKey=1c66e238323c4137aa90a60ae9b42522&
                "
                class="img-20"
              />
              <input class="div-143" type="text" placeholder="Номер карты" />
              <div class="div-144">Проверочный код карты</div>
            </div>
            <div class="div-146">
              <div class="div-147">
                <img
                  loading="lazy"
                  srcset="
                    https://cdn.builder.io/api/v1/image/assets/TEMP/0153b7f8-4694-4111-aec4-633894a3c970?apiKey=1c66e238323c4137aa90a60ae9b42522&width=100   100w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/0153b7f8-4694-4111-aec4-633894a3c970?apiKey=1c66e238323c4137aa90a60ae9b42522&width=200   200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/0153b7f8-4694-4111-aec4-633894a3c970?apiKey=1c66e238323c4137aa90a60ae9b42522&width=400   400w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/0153b7f8-4694-4111-aec4-633894a3c970?apiKey=1c66e238323c4137aa90a60ae9b42522&width=800   800w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/0153b7f8-4694-4111-aec4-633894a3c970?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1200 1200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/0153b7f8-4694-4111-aec4-633894a3c970?apiKey=1c66e238323c4137aa90a60ae9b42522&width=1600 1600w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/0153b7f8-4694-4111-aec4-633894a3c970?apiKey=1c66e238323c4137aa90a60ae9b42522&width=2000 2000w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/0153b7f8-4694-4111-aec4-633894a3c970?apiKey=1c66e238323c4137aa90a60ae9b42522&
                  "
                  class="img-21"
                />
                <input class="div-148" type="text" placeholder="Номер карты" />
              </div>
            </div>
            <button class="div-153">Добавить</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      console.log(operations);
      const path = require("path");

      const createPath = (page) =>
        path.resolve(__dirname, "ejs-views", `${page}.ejs`);

      console.log();
      document.addEventListener("DOMContentLoaded", function () {
        const hideButton = document.getElementById("div-62");
        hideButton.addEventListener("click", function () {
          hideElements("div-72");
          hideElements("div-73");
          hideElements("div-74");
          hideElements("div-75");
          hideElements("div-79");
          hideElements("div-80");
          hideElements("div-81");
          hideElements("div-82");
          hideElements("div-83");
          hideElements("div-84");
          hideElements("div-85");
          hideElements("div-86");
          hideElements("div-87");
          hideElements("div-88");
          hideElements("div-89");
          hideElements("div-90");
          hideElements("div-91");
          hideElements("div-92");
        });
        const showButton = document.getElementById("div-61");
        showButton.addEventListener("click", function () {
          showElements("div-72");
          showElements("div-73");
          showElements("div-74");
          showElements("div-75");
          showElements("div-79");
          showElements("div-80");
          showElements("div-81");
          showElements("div-82");
          showElements("div-83");
          showElements("div-84");
          showElements("div-85");
          showElements("div-86");
          showElements("div-87");
          showElements("div-88");
          showElements("div-89");
          showElements("div-90");
          showElements("div-91");
          showElements("div-92");
        });

        function hideElements(className) {
          const elements = document.getElementsByClassName(className);
          for (let i = 0; i < elements.length; i++) {
            const element = elements[i];
            element.style.display = "none";
          }
        }

        function showElements(className) {
          const elements = document.getElementsByClassName(className);
          for (let i = 0; i < elements.length; i++) {
            const element = elements[i];
            element.style.display = "";
          }
        }
      });

      document.addEventListener("DOMContentLoaded", function () {
        const payButtons = ["div-34", "div-35", "div-38"];

        payButtons.forEach(function (buttonId) {
          const payButton = document.getElementById(buttonId);
          payButton.addEventListener("click", function () {
            openModal();
          });
        });

        function openModal() {
          const modal = document.getElementById("myModal");
          modal.style.display = "block";
        }

        window.closeModal = function () {
          const modal = document.getElementById("myModal");
          modal.style.display = "none";
        };
      });

      document.addEventListener("DOMContentLoaded", function () {
        const payButtons = ["div-34", "div-35", "div-38"];

        payButtons.forEach(function (buttonId) {
          const payButton = document.getElementById(buttonId);
          payButton.addEventListener("click", function () {
            openModal();
          });
        });

        function openModal() {
          const modal = document.getElementById("myModal");
          modal.style.display = "block";
        }

        window.closeModal = function () {
          const modal = document.getElementById("myModal");
          modal.style.display = "none";
        };
      });

      document.addEventListener("DOMContentLoaded", function () {
        const payButtons = ["div-93"];

        payButtons.forEach(function (buttonId) {
          const payButton = document.getElementById(buttonId);
          payButton.addEventListener("click", function () {
            openModals();
          });
        });
        function openModals() {
          const modals = document.getElementById("myModals");
          modals.style.display = "block";
        }
        window.closeModals = function () {
          const modals = document.getElementById("myModals");
          modals.style.display = "none";
        };
      });

      function toggleDropdown() {
        const dropdown = document.getElementById("cardDropdown");
        dropdown.classList.toggle("show");
      }

      window.onclick = function (event) {
        if (!event.target.matches(".div-119")) {
          const dropdowns = document.getElementsByClassName("dropdown-content");
          for (let i = 0; i < dropdowns.length; i++) {
            const openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }
      };

      function toggleDropdown() {
        const dropdown = document.getElementById("cardDropdown");
        dropdown.classList.toggle("show");
      }

      window.onclick = function (event) {
        if (!event.target.matches(".div-119")) {
          const dropdowns = document.getElementsByClassName("dropdown-content");
          for (let i = 0; i < dropdowns.length; i++) {
            const openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }
      };

      document
        .getElementById("cardDropdown")
        .addEventListener("click", function (event) {
          const selectedValue = event.target.textContent;
          changeDropdownValue(selectedValue);
        });

      function changeDropdownValue(selectedValue) {
        const div119 = document.getElementById("div-119");
        div119.textContent = selectedValue;
      }
    </script>
  </body>
</html>
